In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split # for data partition.
from sklearn.metrics import r2_score # to identify r_squared for regression model.
from sklearn.linear_model import LinearRegression # for linear regression model.

%matplotlib inline #renders the figure in a notebook
import matplotlib.pylab as plt

UsageError: unrecognized arguments: #renders the figure in a notebook

In [6]:
Toyota_df = pd.read_csv("/Users/sarathkumarvatyam/Downloads/ToyotaCorolla.csv")

In [7]:
Toyota_df.shape

(1436, 39)

In [9]:
Toyota_df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0

In [14]:
#Q1
Toyota_df.describe()

#After comparing Mean and Median we can observe the symmetry in Mfg_year , thus most of the cars are made on close timeline.
#Prices of the cars are positively(right) skewed.
#After observing St.dev and Mean , we can say that data is largely spread out and not clustered around the mean.

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
mean,721.555014,10730.824513,55.947075,5.548747,1999.625348,68533.259749,101.502089,0.674791,0.055710,1576.85585,...,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.002786,0.277855
std,416.476890,3626.964585,18.599988,3.354085,1.540722,37506.448872,14.981080,0.468616,0.229441,424.38677,...,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.052723,0.448098
min,1.000000,4350.000000,1.000000,1.000000,1998.000000,1.000000,69.000000,0.000000,0.000000,1300.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,361.750000,8450.000000,44.000000,3.000000,1998.000000,43000.000000,90.000000,0.000000,0.000000,1400.00000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,721.500000,9900.000000,61.000000,5.000000,1999.000000,63389.500000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1081.250000,11950.000000,70.000000,8.000000,2001.000000,87020.750000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1442.000000,32500.000000,80.000000,12.000000,2004.000000,243000.000000,192.000000,1.000000,1.000000,16000.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
Toyota_df.dtypes

Id                    int64
Model                object
Price                 int64
Age_08_04             int64
Mfg_Month             int64
Mfg_Year              int64
KM                    int64
Fuel_Type            object
HP                    int64
Met_Color             int64
Color                object
Automatic             int64
CC                    int64
Doors                 int64
Cylinders             int64
Gears                 int64
Quarterly_Tax         int64
Weight                int64
Mfr_Guarantee         int64
BOVAG_Guarantee       int64
Guarantee_Period      int64
ABS                   int64
Airbag_1              int64
Airbag_2              int64
Airco                 int64
Automatic_airco       int64
Boardcomputer         int64
CD_Player             int64
Central_Lock          int64
Powered_Windows       int64
Power_Steering        int64
Radio                 int64
Mistlamps             int64
Sport_Model           int64
Backseat_Divider      int64
Metallic_Rim          int64
Radio_cassette        int64
Parking_Assistant     int64
Tow_Bar               int64
dtype: object

In [22]:
#Calculate the IQR for the DataFrame
Q1 = Toyota_df.quantile(0.25, numeric_only=True)
Q3 = Toyota_df.quantile(0.75, numeric_only=True)
IQR = Q3 - Q1

# Identify larger IQRs
threshold = 1.5
larger_IQR_columns = IQR[IQR > threshold * (Q3 - Q1)]

print("Columns with larger IQR:")
print(larger_IQR_columns)

#we can observe that the data is not highly disbursed , thus minimal scope for outliers.

Columns with larger IQR:
Series([], dtype: float64)

In [25]:
Toyota_df.columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Color', 'Automatic', 'CC', 'Doors',
       'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio_cassette', 'Parking_Assistant', 'Tow_Bar'],
      dtype='object')

In [7]:
# Prices of different variants
corolla_petrol = Toyota_df[Toyota_df['Fuel_Type'] == 'Petrol']
corolla_diesel = Toyota_df[Toyota_df['Fuel_Type'] == 'Diesel']

# Petrol variant Toyota Corolla summary
print(corolla_petrol.head())
print(corolla_petrol.describe())

# Diesel variant Toyota Corolla summary
print(corolla_diesel.head())
print(corolla_diesel.describe())

    Id                                              Model  Price  Age_08_04  \
8    9        TOYOTA Corolla 1800 T SPORT VVT I 2/3-Doors  21500         27
10  11  TOYOTA Corolla 1.8 VVTL-i T-Sport 3-Drs 2/3-Doors  20950         25
11  12  TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT BNS 2...  19950         22
12  13  TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-D...  19600         25
13  14  TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-D...  21500         31

    Mfg_Month  Mfg_Year     KM Fuel_Type   HP  Met_Color  ... Powered_Windows  \
8           6      2002  19700    Petrol  192          0  ...               1
10          8      2002  31461    Petrol  192          0  ...               1
11         11      2002  43610    Petrol  192          0  ...               1
12          8      2002  32189    Petrol  192          0  ...               1
13          2      2002  23000    Petrol  192          1  ...               1

    Power_Steering  Radio  Mistlamps  Sport_Model  Backseat_Divider  \
8                1      1          0            0                 0
10               1      0          0            0                 0
11               1      0          1            1                 1
12               1      0          1            1                 1
13               1      0          1            1                 1

    Metallic_Rim  Radio_cassette  Parking_Assistant  Tow_Bar
8              1               1                  0        0
10             1               0                  0        0
11             1               0                  0        0
12             1               0                  0        0
13             1               0                  0        0

[5 rows x 39 columns]
                Id         Price    Age_08_04    Mfg_Month     Mfg_Year  \
count  1264.000000   1264.000000  1264.000000  1264.000000  1264.000000
mean    746.705696  10679.310127    56.582278     5.487342  1999.577532
std     415.714978   3326.577912    18.306302     3.314332     1.511215
min       9.000000   5250.000000     1.000000     1.000000  1998.000000
25%     377.750000   8500.000000    44.000000     3.000000  1998.000000
50%     763.500000   9940.000000    61.000000     5.000000  1999.000000
75%    1118.250000  11900.000000    70.250000     8.000000  2001.000000
max    1442.000000  24500.000000    80.000000    12.000000  2004.000000

                  KM           HP    Met_Color    Automatic            CC  \
count    1264.000000  1264.000000  1264.000000  1264.000000   1264.000000
mean    62542.342563   104.204114     0.675633     0.062500   1527.533228
std     30173.800709    12.730141     0.468323     0.242157    426.987582
min         1.000000    71.000000     0.000000     0.000000   1300.000000
25%     40183.750000    97.000000     0.000000     0.000000   1400.000000
50%     60716.000000   110.000000     1.000000     0.000000   1600.000000
75%     80474.000000   110.000000     1.000000     0.000000   1600.000000
max    194545.000000   192.000000     1.000000     1.000000  16000.000000

       ...  Powered_Windows  Power_Steering        Radio   Mistlamps  \
count  ...      1264.000000     1264.000000  1264.000000  1264.00000
mean   ...         0.578323        0.976266     0.145570     0.27057
std    ...         0.494023        0.152280     0.352814     0.44443
min    ...         0.000000        0.000000     0.000000     0.00000
25%    ...         0.000000        1.000000     0.000000     0.00000
50%    ...         1.000000        1.000000     0.000000     0.00000
75%    ...         1.000000        1.000000     0.000000     1.00000
max    ...         1.000000        1.000000     1.000000     1.00000

       Sport_Model  Backseat_Divider  Metallic_Rim  Radio_cassette  \
count   1264.00000       1264.000000   1264.000000     1264.000000
mean       0.30538          0.778481      0.213608        0.144778
std        0.46075          0.415433      0.410015        0.352017
min        0.00000          0.000000      0.000000        0.000000
25%        0.00000          1.000000      0.000000        0.000000
50%        0.00000          1.000000      0.000000        0.000000
75%        1.00000          1.000000      0.000000        0.000000
max        1.00000          1.000000      1.000000        1.000000

       Parking_Assistant      Tow_Bar
count        1264.000000  1264.000000
mean            0.003165     0.284810
std             0.056188     0.451503
min             0.000000     0.000000
25%             0.000000     0.000000
50%             0.000000     0.000000
75%             0.000000     1.000000
max             1.000000     1.000000

[8 rows x 36 columns]
   Id                                          Model  Price  Age_08_04  \
0   1  TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500         23
1   2  TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750         23
2   3  TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950         24
3   4  TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950         26
4   5    TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750         30

   Mfg_Month  Mfg_Year     KM Fuel_Type  HP  Met_Color  ... Powered_Windows  \
0         10      2002  46986    Diesel  90          1  ...               1
1         10      2002  72937    Diesel  90          1  ...               0
2          9      2002  41711    Diesel  90          1  ...               0
3          7      2002  48000    Diesel  90          0  ...               0
4          3      2002  38500    Diesel  90          0  ...               1

   Power_Steering  Radio  Mistlamps  Sport_Model  Backseat_Divider  \
0               1      0          0            0                 1
1               1      0          0            0                 1
2               1      0          0            0                 1
3               1      0          0            0                 1
4               1      0          1            0                 1

   Metallic_Rim  Radio_cassette  Parking_Assistant  Tow_Bar
0             0               0                  0        0
1             0               0                  0        0
2             0               0                  0        0
3             0               0                  0        0
4             0               0                  0        0

[5 rows x 39 columns]
                Id         Price   Age_08_04   Mfg_Month     Mfg_Year  \
count   155.000000    155.000000  155.000000  155.000000   155.000000
mean    532.496774  11294.554839   50.722581    6.045161  2000.019355
std     380.027688   5535.945162   20.640251    3.598957     1.756143
min       1.000000   4350.000000    4.000000    1.000000  1998.000000
25%     194.500000   7750.000000   35.000000    3.000000  1999.000000
50%     466.000000   8950.000000   55.000000    5.000000  2000.000000
75%     780.500000  13500.000000   68.000000   10.000000  2001.000000
max    1337.000000  32500.000000   80.000000   12.000000  2004.000000

                  KM          HP   Met_Color  Automatic           CC  ...  \
count     155.000000  155.000000  155.000000      155.0   155.000000  ...
mean   111977.580645   78.535484    0.658065        0.0  1976.548387  ...
std     54473.020215   12.784567    0.475896        0.0    46.670188  ...
min         1.000000   69.000000    0.000000        0.0  1800.000000  ...
25%     70795.500000   72.000000    0.000000        0.0  2000.000000  ...
50%    117000.000000   72.000000    1.000000        0.0  2000.000000  ...
75%    148318.000000   90.000000    1.000000        0.0  2000.000000  ...
max    243000.000000  116.000000    1.000000        0.0  2000.000000  ...

       Powered_Windows  Power_Steering       Radio   Mistlamps  Sport_Model  \
count       155.000000      155.000000  155.000000  155.000000   155.000000
mean          0.432258        0.987097    0.148387    0.154839     0.283871
std           0.496996        0.113223    0.356636    0.362923     0.452336
min           0.000000        0.000000    0.000000    0.000000     0.000000
25%           0.000000        1.000000    0.000000    0.000000     0.000000
50%           0.000000        1.000000    0.000000    0.000000     0.000000
75%           1.000000        1.000000    0.000000    0.000000     1.000000
max           1.000000        1.000000    1.000000    1.000000     1.000000

       Backseat_Divider  Metallic_Rim  Radio_cassette  Parking_Assistant  \
count        155.000000    155.000000      155.000000              155.0
mean           0.722581      0.116129        0.148387                0.0
std            0.449177      0.321418        0.356636                0.0
min            0.000000      0.000000        0.000000                0.0
25%            0.000000      0.000000        0.000000                0.0
50%            1.000000      0.000000        0.000000                0.0
75%            1.000000      0.000000        0.000000                0.0
max            1.000000      1.000000        1.000000                0.0

          Tow_Bar
count  155.000000
mean     0.206452
std      0.406070
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      1.000000

[8 rows x 36 columns]

In [29]:
#Q2.

from sklearn.preprocessing import StandardScaler

# Select the column you want to normalize
column_to_normalize = 'KM'  

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the selected column
transformed_column = scaler.fit_transform(Toyota_df[['KM']])

# Print the transformed column
print(transformed_column)

[[-0.57469494]
 [ 0.11745379]
 [-0.71538641]
 ...
 [-1.37403589]
 [-1.37670303]
 [-1.82784925]]

In [31]:
#Q3.
# Create dummy variables for the 'Fuel_Type' column
dummies = pd.get_dummies(Toyota_df['Fuel_Type'])

# Concatenate the dummy variables with the original DataFrame
Toyota_df = pd.concat([Toyota_df, dummies], axis=1)

# Print the updated DataFrame
print(Toyota_df[dummies.columns])

      CNG  CNG  Diesel  Diesel  Petrol  Petrol
0       0    0       1       1       0       0
1       0    0       1       1       0       0
2       0    0       1       1       0       0
3       0    0       1       1       0       0
4       0    0       1       1       0       0
...   ...  ...     ...     ...     ...     ...
1431    0    0       0       0       1       1
1432    0    0       0       0       1       1
1433    0    0       0       0       1       1
1434    0    0       0       0       1       1
1435    0    0       0       0       1       1

[1436 rows x 6 columns]

In [33]:
#Q4.

# randomly sample 50% of the row IDs for training
trainData = Toyota_df.sample(frac=0.5, random_state=1)
# sample 30% of the row IDs into the validation set, drawing only from records
# not already in the training set; 60% of 50% is 30%
validData = Toyota_df.drop(trainData.index).sample(frac=0.6, random_state=1)  
# the remaining 20% rows serve as test
testData = Toyota_df.drop(trainData.index).drop(validData.index)

print('Training   : ', trainData.shape)
print('Validation : ', validData.shape)
print('Test       : ', testData.shape)
print()

# alternative way using scikit-learn
trainData, temp = train_test_split(Toyota_df, test_size=0.5, random_state=1)
validData, testData = train_test_split(temp, test_size=0.4, random_state=1)
print('Training   : ', trainData.shape)
print('Validation : ', validData.shape)
print('Test       : ', testData.shape)

Training   :  (718, 45)
Validation :  (431, 45)
Test       :  (287, 45)

Training   :  (718, 45)
Validation :  (430, 45)
Test       :  (288, 45)